xml_schema/dossier_enrol.xsd

<?xml version="1.0"?>
<!-- ****************************** -->
<!-- Company Enrolment version 0.1 -->
<!-- ****************************** -->
<hpfb:schema xmlns:hpfb="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<hpfb:include schemaLocation="./common/data_types.xsd"/>
	<hpfb:include schemaLocation="./common/contact.xsd"/>
	<hpfb:include schemaLocation="./common/address.xsd"/>
	<!-- ****************************** -->
	<!-- ELEMENT DECLARATIONS -->
	<!-- ****************************** -->
	<!-- COMPANY_ENROL is the root element-->
	<!-- REP Dossier Level element definitions-->
	<hpfb:element name="DOSSIER_ENROL" type="dossier_enrol_content"/>
	<hpfb:element name="enrolment_version" type="hpfb:decimal"/>
	<hpfb:element name="date_saved" type="yyyymmdd_date_content"/>
	<hpfb:element name="application_type" type="rep_type"/>
	<hpfb:element name="software_version" type="hpfb:string"/>
	<hpfb:element name="data_checksum" type="hpfb:string"/>
	<hpfb:element name="contact_record" type="contact_record_content"/>
	<hpfb:element name="amend_record" type="required_yes_no_content"/>
	<hpfb:element name="rep_contact_role" type="rep_contact_role_list"/>
	<hpfb:element name="rep_contact_details" type="contact_content"/>
	<!-- Drug Product element definitions-->
	<hpfb:element name="company_id" type="char_1_6_content"/>
	<hpfb:element name="brand_name" type="char_1_200_content"/>
	<hpfb:element name="common_name" type="char_1_256_content"/>
	<hpfb:element name="related_dossier_id" type="char_1_256_content"/>
	<hpfb:element name="therapeutic_class_list" type="therapeutic_class_content"/>
	<hpfb:element name="therapeutic_class" type="char_1_256_content"/>
	<hpfb:element name="ref_product_list" type="ref_product_list_content"/>
	<hpfb:element name="cdn_ref_product" type="cdn_ref_product_content"/>
	<hpfb:element name="amend_ref_product" type="required_yes_no_content"/>
	<hpfb:element name="medicinal_ingredient" type="char_1_256_content"/>
	<hpfb:element name="dosage_form" type="dosage_form_list"/>
	<hpfb:element name="dosage_form_other" type="char_0_100_content"/>
	<hpfb:element name="strengths" type="char_1_256_content"/>
	<hpfb:element name="company_name" type="char_1_256_content"/>
	<hpfb:element name="human_drug_use" type="required_yes_no_content"/>
	<hpfb:element name="radiopharm_drug_use" type="required_yes_no_content"/>
	<hpfb:element name="vet_drug_use" type="required_yes_no_content"/>
	<hpfb:element name="disinfectant_drug_use" type="required_yes_no_content"/>
	<hpfb:element name="is_sched_a" type="required_yes_no_content"/>
	<!-- Schedule A definitions-->
	<hpfb:element name="schedule_a_section" type="schedule_a_content"/>
	<hpfb:element name="acute_alcohol" type="required_yes_no_content"/>
	<hpfb:element name="acute_anxiety" type="required_yes_no_content"/>
	<hpfb:element name="acute_infectious" type="required_yes_no_content"/>
	<hpfb:element name="acute_inflammatory" type="required_yes_no_content"/>
	<hpfb:element name="acute_psychotic" type="required_yes_no_content"/>
	<hpfb:element name="addiction" type="required_yes_no_content"/>
	<hpfb:element name="ateriosclerosis" type="required_yes_no_content"/>
	<hpfb:element name="appendicitis" type="required_yes_no_content"/>
	<hpfb:element name="asthma" type="required_yes_no_content"/>
	<hpfb:element name="cancer" type="required_yes_no_content"/>
	<hpfb:element name="congest_heart_fail" type="required_yes_no_content"/>
	<hpfb:element name="convulsions" type="required_yes_no_content"/>
	<hpfb:element name="dementia" type="required_yes_no_content"/>
	<hpfb:element name="depresssion" type="required_yes_no_content"/>
	<hpfb:element name="diabetes" type="required_yes_no_content"/>
	<hpfb:element name="gangrene" type="required_yes_no_content"/>
	<hpfb:element name="glaucoma" type="required_yes_no_content"/>
	<hpfb:element name="haematologic_bleeding" type="required_yes_no_content"/>
	<hpfb:element name="hepatitis" type="required_yes_no_content"/>
	<hpfb:element name="hypertension" type="required_yes_no_content"/>
	<hpfb:element name="nausea_pregnancy" type="required_yes_no_content"/>
	<hpfb:element name="obesity" type="required_yes_no_content"/>
	<hpfb:element name="rheumatic_fever" type="required_yes_no_content"/>
	<hpfb:element name="septicemia" type="required_yes_no_content"/>
	<hpfb:element name="sex_transmit_disease" type="required_yes_no_content"/>
	<hpfb:element name="strangulated_hernia" type="required_yes_no_content"/>
	<hpfb:element name="thrombotic_embolic_disorder" type="required_yes_no_content"/>
	<hpfb:element name="thyroid_disease" type="required_yes_no_content"/>
	<hpfb:element name="ulcer_gastro" type="required_yes_no_content"/>
	<hpfb:element name="sched_a_claims_ind" type="char_1_256_content"/>
	<!-- ingredients-->
	<hpfb:element name="drug_ingredients" type="ingredient_content"/>
	<hpfb:element name="ingredient_name" type="char_1_100_content"/>
	<hpfb:element name="ingredient_role" type="ingred_role_content"/>
	<hpfb:element name="cas_number" type="cas_content"/>
	<hpfb:element name="standard" type="char_0_40_content"/>
	<hpfb:element name="is_human_animal" type="required_yes_no_content"/>
	<hpfb:element name="animal_sourced" type="required_yes_no_content"/>
	<hpfb:element name="human_sourced" type="required_yes_no_content"/>
	<hpfb:element name="human_sourced_section" type="tissues_fluid_content"/>
	<hpfb:element name="animal_sourced_section" type="animal_sourced_content"/>

	<!-- tissues fluids-->
	<hpfb:element name="brain" type="required_yes_no_content"/>
	<hpfb:element name="brain_stem" type="required_yes_no_content"/>
	<hpfb:element name="cerebellum" type="required_yes_no_content"/>

	<!-- Main references-->
	<hpfb:complexType name="dossier_enrol_content">
		<hpfb:sequence>
			<hpfb:element ref="company_id"/>
			<hpfb:element ref="enrolment_version"/>
			<hpfb:element ref="date_saved"/>
			<hpfb:element ref="application_type"/>
			<hpfb:element ref="software_version"/>
			<hpfb:element ref="data_checksum"/>
			<hpfb:element ref="contact_record" minOccurs="1" maxOccurs="3"/>
			<hpfb:element ref="ref_product_list"/>
			<hpfb:element ref="human_drug_use"/>
			<hpfb:element ref="radiopharm_drug_use"/>
			<hpfb:element ref="vet_drug_use"/>
			<hpfb:element ref="disinfectant_drug_use"/>
			<hpfb:element ref="is_sched_a"/>
			<hpfb:element name="schedule_a_section" minOccurs="0" maxOccurs="1"/>
		</hpfb:sequence>
	</hpfb:complexType>

	<hpfb:complexType name="contact_record_content">
		<hpfb:all>
			<hpfb:element ref="amend_record"/>
			<hpfb:element ref="rep_contact_role"/>
			<hpfb:element ref="rep_contact_details"/>
		</hpfb:all>
	</hpfb:complexType>
	<hpfb:complexType name="therapeutic_class_content">
		<hpfb:sequence>
			<hpfb:element ref="therapeutic_class" minOccurs="1" maxOccurs="unbounded"/>
		</hpfb:sequence>
	</hpfb:complexType>

	<hpfb:complexType name="cdn_ref_product_content">
		<hpfb:sequence>
			<hpfb:element ref="amend_ref_product"/>
			<hpfb:element ref="medicinal_ingredient"/>
			<hpfb:element ref="dosage_form"/>
			<hpfb:element ref="dosage_form_other"/>
			<hpfb:element ref="strengths"/>
			<hpfb:element ref="company_name"/>
		</hpfb:sequence>
	</hpfb:complexType>


	<hpfb:complexType name="ref_product_list_content">
		<hpfb:sequence>
			<hpfb:element ref="cdn_ref_product" minOccurs="0" maxOccurs="unbounded"/>
		</hpfb:sequence>
	</hpfb:complexType>

	<hpfb:complexType name="schedule_a_content">
		<hpfb:sequence>
			<hpfb:element ref="acute_alcohol"/>
			<hpfb:element ref="acute_anxiety"/>
			<hpfb:element ref="acute_infectious"/>
			<hpfb:element ref="acute_inflammatory"/>
			<hpfb:element ref="acute_psychotic"/>
			<hpfb:element ref="addiction"/>
			<hpfb:element ref="ateriosclerosis"/>
			<hpfb:element ref="appendicitis"/>
			<hpfb:element ref="asthma"/>
			<hpfb:element ref="cancer"/>
			<hpfb:element ref="congest_heart_fail"/>
			<hpfb:element ref="convulsions"/>
			<hpfb:element ref="dementia"/>
			<hpfb:element ref="depresssion"/>
			<hpfb:element ref="diabetes"/>
			<hpfb:element ref="gangrene"/>
			<hpfb:element ref="glaucoma"/>
			<hpfb:element ref="haematologic_bleeding"/>
			<hpfb:element ref="hepatitis"/>
			<hpfb:element ref="hypertension"/>
			<hpfb:element ref="nausea_pregnancy"/>
			<hpfb:element ref="obesity"/>
			<hpfb:element ref="rheumatic_fever"/>
			<hpfb:element ref="septicemia"/>
			<hpfb:element ref="sex_transmit_disease"/>
			<hpfb:element ref="strangulated_hernia"/>
			<hpfb:element ref="thrombotic_embolic_disorder"/>
			<hpfb:element ref="thyroid_disease"/>
			<hpfb:element ref="ulcer_gastro"/>
			<hpfb:element ref="sched_a_claims_ind"/>
		</hpfb:sequence>
	</hpfb:complexType>

	<hpfb:complexType name="ingredient_content">
		<hpfb:sequence>
			

	</hpfb:sequence>
	</hpfb:complexType>


	<hpfb:complexType name="tissues_fluid_content">
		<hpfb:sequence>
			

	</hpfb:sequence>
	</hpfb:complexType>
	<hpfb:complexType name="animal_sourced_content">
		<hpfb:sequence>
			

	</hpfb:sequence>
	</hpfb:complexType>


	<hpfb:simpleType name="dosage_form_list">
		<hpfb:restriction base="hpfb:string">
			<hpfb:enumeration value="AEROSOL"/>
			<hpfb:enumeration value="BOLUS"/>
			<hpfb:enumeration value="CAPSULE"/>
			<hpfb:enumeration value="CAPSULE_DELAYED_RELEASE"/>
			<hpfb:enumeration value="CAPSULE_EXTENDED_RELEASE"/>
			<hpfb:enumeration value="CREAM"/>
			<hpfb:enumeration value="EMULSION"/>
			<hpfb:enumeration value="GAS"/>
			<hpfb:enumeration value="GEL"/>
			<hpfb:enumeration value="IMPLANT"/>
			<hpfb:enumeration value="LOTION"/>
			<hpfb:enumeration value="LOZENGE"/>
			<hpfb:enumeration value="OINTMENT"/>
			<hpfb:enumeration value="PATCH"/>
			<hpfb:enumeration value="PATCH_EXTENDED_RELEASE"/>
			<hpfb:enumeration value="POWDER"/>
			<hpfb:enumeration value="POWDER_FOR_SOLUTION"/>
			<hpfb:enumeration value="POWDER_FOR_SUSPENSION"/>
			<hpfb:enumeration value="SHAMPOO"/>
			<hpfb:enumeration value="SOLUTION"/>
			<hpfb:enumeration value="SPRAY"/>
			<hpfb:enumeration value="SPRAY_BAG_ON_VALVE"/>
			<hpfb:enumeration value="SPRAY_METERED_DOSE"/>
			<hpfb:enumeration value="STICK"/>
			<hpfb:enumeration value="STRIP"/>
			<hpfb:enumeration value="SUPPOSITORY"/>
			<hpfb:enumeration value="SUSPENSION"/>
			<hpfb:enumeration value="SYRUP"/>
			<hpfb:enumeration value="TABLET"/>
			<hpfb:enumeration value="TABLET_CHEWABLE"/>
			<hpfb:enumeration value="TABLET_DELAYED_RELEASE"/>
			<hpfb:enumeration value="TABLET_EXTENDED_RELEASE"/>
			<hpfb:enumeration value="TABLET_ORALLY_DISINTEGRATING"/>
			<hpfb:enumeration value="WIPE"/>
			<hpfb:enumeration value="OTHER"/>
		</hpfb:restriction>
	</hpfb:simpleType>
</hpfb:schema>