xml_schema/dossier_enrol.xsd

<?xml version="1.0"?>
<!-- ****************************** -->
<!-- Company Enrolment version 0.1 -->
<!-- ****************************** -->
<hpfb:schema xmlns:hpfb="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<hpfb:include schemaLocation="./common/data_types.xsd"/>
	<hpfb:include schemaLocation="./common/contact.xsd"/>
	<hpfb:include schemaLocation="./common/address.xsd"/>
	<hpfb:include schemaLocation="./common/country_province.xsd"/>
	<hpfb:include schemaLocation="./common/drug_data_lists.xsd"/>
	<!-- ****************************** -->
	<!-- ELEMENT DECLARATIONS -->
	<!-- ****************************** -->
	<!-- COMPANY_ENROL is the root element-->
	<!-- REP Dossier Level element definitions-->
	<hpfb:element name="DOSSIER_ENROL" type="dossier_enrol_content"/>
	<hpfb:element name="enrolment_version" type="hpfb:decimal"/>
	<hpfb:element name="date_saved" type="yyyymmdd_date_content"/>
	<hpfb:element name="application_type" type="rep_type"/>
	<hpfb:element name="software_version" type="hpfb:string"/>
	<hpfb:element name="data_checksum" type="hpfb:string"/>
	<hpfb:element name="contact_record" type="contact_record_content"/>
	<hpfb:element name="amend_record" type="required_yes_no_content"/>
	<hpfb:element name="rep_contact_role" type="rep_contact_role_list"/>
	<hpfb:element name="rep_contact_details" type="contact_content"/>
	<hpfb:element name="dossier_id" type="char_0_7_content"/>
	<hpfb:element name="company_id" type="char_1_6_content"/>
	<hpfb:element name="related_dossier_id" type="char_0_256_content"/>
	<!-- Drug Product element definitions-->
	<hpfb:element name="brand_name" type="char_1_200_content"/>
	<hpfb:element name="common_name" type="char_1_256_content"/>
	<hpfb:element name="third_party_signed" type="required_yes_no_content"/>
	<hpfb:element name="therapeutic_class_list" type="therapeutic_class_content"/>
	<hpfb:element name="therapeutic_class" type="char_1_256_content"/>
	<hpfb:element name="ref_product_list" type="ref_product_list_content"/>
	<hpfb:element name="cdn_ref_product" type="cdn_ref_product_content"/>
	<hpfb:element name="medicinal_ingredient" type="char_1_256_content"/>
	<hpfb:element name="dosage_form_group" type="dosage_form_group_content"/>
	<hpfb:element name="dosage_form" type="dosage_form_list"/>
	<hpfb:element name="dosage_form_other" type="char_0_100_content"/>
	<hpfb:element name="strengths" type="char_1_256_content"/>
	<hpfb:element name="company_name" type="char_1_256_content"/>
	<hpfb:element name="human_drug_use" type="required_yes_no_content"/>
	<hpfb:element name="radiopharm_drug_use" type="required_yes_no_content"/>
	<hpfb:element name="vet_drug_use" type="required_yes_no_content"/>
	<hpfb:element name="disinfectant_drug_use" type="required_yes_no_content"/>
	<hpfb:element name="is_sched_a" type="required_yes_no_content"/>
	<!-- Schedule A definitions-->
	<hpfb:element name="schedule_a_group" type="schedule_a_content"/>
	<hpfb:element name="din_number" type="din_content"/>	
	<hpfb:element name="acute_alcohol" type="required_yes_no_content"/>
	<hpfb:element name="acute_anxiety" type="required_yes_no_content"/>
	<hpfb:element name="acute_infectious" type="required_yes_no_content"/>
	<hpfb:element name="acute_inflammatory" type="required_yes_no_content"/>
	<hpfb:element name="acute_psychotic" type="required_yes_no_content"/>
	<hpfb:element name="addiction" type="required_yes_no_content"/>
	<hpfb:element name="ateriosclerosis" type="required_yes_no_content"/>
	<hpfb:element name="appendicitis" type="required_yes_no_content"/>
	<hpfb:element name="asthma" type="required_yes_no_content"/>
	<hpfb:element name="cancer" type="required_yes_no_content"/>
	<hpfb:element name="congest_heart_fail" type="required_yes_no_content"/>
	<hpfb:element name="convulsions" type="required_yes_no_content"/>
	<hpfb:element name="dementia" type="required_yes_no_content"/>
	<hpfb:element name="depression" type="required_yes_no_content"/>
	<hpfb:element name="diabetes" type="required_yes_no_content"/>
	<hpfb:element name="gangrene" type="required_yes_no_content"/>
	<hpfb:element name="glaucoma" type="required_yes_no_content"/>
	<hpfb:element name="haematologic_bleeding" type="required_yes_no_content"/>
	<hpfb:element name="hepatitis" type="required_yes_no_content"/>
	<hpfb:element name="hypertension" type="required_yes_no_content"/>
	<hpfb:element name="nausea_pregnancy" type="required_yes_no_content"/>
	<hpfb:element name="obesity" type="required_yes_no_content"/>
	<hpfb:element name="rheumatic_fever" type="required_yes_no_content"/>
	<hpfb:element name="septicemia" type="required_yes_no_content"/>
	<hpfb:element name="sex_transmit_disease" type="required_yes_no_content"/>
	<hpfb:element name="strangulated_hernia" type="required_yes_no_content"/>
	<hpfb:element name="thrombotic_embolic_disorder" type="required_yes_no_content"/>
	<hpfb:element name="thyroid_disease" type="required_yes_no_content"/>
	<hpfb:element name="ulcer_gastro" type="required_yes_no_content"/>
	<hpfb:element name="sched_a_claims_ind_details" type="char_1_256_content"/>
	<!-- ingredients-->
	<hpfb:element name="appendix4_group" type="appendix4_content"/>
	<!--<hpfb:element name="drug_ingredient" type="ingredient_content"/>-->
	<hpfb:element name="ingredient_id" type="char_1_40_content" nillable="true"/>
	<hpfb:element name="ingredient_name" type="char_1_100_content"/>
	<hpfb:element name="cas_number" type="cas_content"/>
	<hpfb:element name="ingred_standard" type="char_0_40_content"/>
	<hpfb:element name="is_human_animal_src" type="required_yes_no_content"/>
	<hpfb:element name="animal_sourced" type="required_yes_no_content"/>
	<hpfb:element name="human_sourced" type="required_yes_no_content"/>
	<hpfb:element name="tissues_fluids_section" type="tissues_fluid_content"/>
	<hpfb:element name="animal_sourced_section" type="animal_sourced_content"/>
	<!-- tissues fluids-->
	<!-- Start nervous system-->
	<hpfb:element name="brain" type="required_yes_no_content"/>
	<hpfb:element name="brain_stem" type="required_yes_no_content"/>
	<hpfb:element name="cerebellum" type="required_yes_no_content"/>
	<hpfb:element name="cerebrospinal_fluid" type="required_yes_no_content"/>
	<hpfb:element name="dorsal_root_ganglia" type="required_yes_no_content"/>
	<hpfb:element name="dura_mater" type="required_yes_no_content"/>
	<hpfb:element name="hypothalmus" type="required_yes_no_content"/>
	<hpfb:element name="retina_optic" type="required_yes_no_content"/>
	<hpfb:element name="spinal_cord" type="required_yes_no_content"/>
	<hpfb:element name="trigerminal_ganglia" type="required_yes_no_content"/>
	<hpfb:element name="other_nervous" type="required_yes_no_content"/>
	<hpfb:element name="other_nervous_details" type="char_0_40_content"/>
	<!-- Start digestive system-->
	<hpfb:element name="appendix" type="required_yes_no_content"/>
	<hpfb:element name="bile" type="required_yes_no_content"/>
	<hpfb:element name="distal_ileum" type="required_yes_no_content"/>
	<hpfb:element name="large_intestine" type="required_yes_no_content"/>
	<hpfb:element name="saliva_salivary" type="required_yes_no_content"/>
	<hpfb:element name="small_intestine" type="required_yes_no_content"/>
	<hpfb:element name="stomach" type="required_yes_no_content"/>
	<hpfb:element name="other_digestive" type="required_yes_no_content"/>
	<hpfb:element name="other_digestive_details" type="char_0_40_content"/>
	<!-- Start reproductive system-->
	<hpfb:element name="milk_products" type="required_yes_no_content"/>
	<hpfb:element name="kidney" type="required_yes_no_content"/>
	<hpfb:element name="colostrum" type="required_yes_no_content"/>
	<hpfb:element name="mammary_glands" type="required_yes_no_content"/>
	<hpfb:element name="ovaries" type="required_yes_no_content"/>
	<hpfb:element name="placenta" type="required_yes_no_content"/>
	<hpfb:element name="placental_fluid" type="required_yes_no_content"/>
	<hpfb:element name="semen" type="required_yes_no_content"/>
	<hpfb:element name="testes" type="required_yes_no_content"/>
	<hpfb:element name="urine" type="required_yes_no_content"/>
	<hpfb:element name="other_reproductive" type="required_yes_no_content"/>
	<hpfb:element name="other_reproductive_details" type="char_0_40_content"/>
	<!-- Start cardio respiratory system-->
	<hpfb:element name="heart_pericardium" type="required_yes_no_content"/>
	<hpfb:element name="lung" type="required_yes_no_content"/>
	<hpfb:element name="nasal_fluid" type="required_yes_no_content"/>
	<hpfb:element name="trachea" type="required_yes_no_content"/>
	<hpfb:element name="other_cardio_respiratory" type="required_yes_no_content"/>
	<hpfb:element name="other_cardio_respiratory_details" type="char_0_40_content"/>
	<!-- Start immune system-->
	<hpfb:element name="lymph_nodes" type="required_yes_no_content"/>
	<hpfb:element name="spleen" type="required_yes_no_content"/>
	<hpfb:element name="thymus" type="required_yes_no_content"/>
	<hpfb:element name="tonsils" type="required_yes_no_content"/>
	<hpfb:element name="other_immune" type="required_yes_no_content"/>
	<hpfb:element name="other_immune_details" type="char_0_40_content"/>
	<!-- Start skin glandular system-->
	<hpfb:element name="adrenal_gland" type="required_yes_no_content"/>
	<hpfb:element name="hair_hooves_feathers" type="required_yes_no_content"/>
	<hpfb:element name="liver" type="required_yes_no_content"/>
	<hpfb:element name="pancreas" type="required_yes_no_content"/>
	<hpfb:element name="pituitary" type="required_yes_no_content"/>
	<hpfb:element name="skin_hides" type="required_yes_no_content"/>
	<hpfb:element name="thyroid_parathyroid" type="required_yes_no_content"/>
	<hpfb:element name="other_skin_glandular" type="required_yes_no_content"/>
	<hpfb:element name="other_skin_glandular_details" type="char_0_40_content"/>
	<!-- Start musculo-Skeletal system-->
	<hpfb:element name="abdomen" type="required_yes_no_content"/>
	<hpfb:element name="skull" type="required_yes_no_content"/>
	<hpfb:element name="bones" type="required_yes_no_content"/>
	<hpfb:element name="collagen" type="required_yes_no_content"/>
	<hpfb:element name="tendons_ligaments" type="required_yes_no_content"/>
	<hpfb:element name="vertebral_column" type="required_yes_no_content"/>
	<hpfb:element name="muscle" type="required_yes_no_content"/>
	<hpfb:element name="other_musculo_skeletal" type="required_yes_no_content"/>
	<hpfb:element name="other_musculo_skeletal_details" type="char_0_40_content"/>
	<!-- Start other system-->
	<hpfb:element name="adipose" type="required_yes_no_content"/>
	<hpfb:element name="ascites" type="required_yes_no_content"/>
	<hpfb:element name="antler_velvet" type="required_yes_no_content"/>
	<hpfb:element name="serum" type="required_yes_no_content"/>
	<hpfb:element name="whole_blood" type="required_yes_no_content"/>
	<hpfb:element name="plasma" type="required_yes_no_content"/>
	<hpfb:element name="embryonic_tissue" type="required_yes_no_content"/>
	<hpfb:element name="fetal_tissue" type="required_yes_no_content"/>
	<hpfb:element name="bone_marrow" type="required_yes_no_content"/>
	<hpfb:element name="eyes_cornea" type="required_yes_no_content"/>
	<hpfb:element name="gall_bladder" type="required_yes_no_content"/>
	<hpfb:element name="other_fluids_tissues" type="required_yes_no_content"/>
	<hpfb:element name="other_fluids_tissues_details" type="char_0_40_content"/>
	<!-- Animal Sourced content-->
	<hpfb:element name="nonhuman_primate_type" type="char_0_100_content"/>
	<hpfb:element name="aquatic_type" type="char_0_100_content"/>
	<hpfb:element name="avian_type" type="char_0_100_content"/>
	<hpfb:element name="bovine_type" type="char_0_100_content"/>
	<hpfb:element name="canine_type" type="char_0_100_content"/>
	<hpfb:element name="caprine_type" type="char_0_100_content"/>
	<hpfb:element name="cervidae_type" type="char_0_100_content"/>
	<hpfb:element name="equine_type" type="char_0_100_content"/>
	<hpfb:element name="feline_type" type="char_0_100_content"/>
	<hpfb:element name="ovine_type" type="char_0_100_content"/>
	<hpfb:element name="porcine_type" type="char_0_100_content"/>
	<hpfb:element name="rodent_type" type="char_0_100_content"/>
	<hpfb:element name="other_type" type="char_0_100_content"/>
	<hpfb:element name="is_controlled_pop" type="required_yes_no_content"/>
	<hpfb:element name="is_biotech_derived" type="required_yes_no_content"/>
	<hpfb:element name="is_cell_line" type="required_yes_no_content"/>
	<hpfb:element name="animal_age" type="integer_1_999_content"/>
	<hpfb:element name="country_with_unknown" type="country_unknown_list"/>
	<hpfb:element name="country_origin_list" type="country_origin_list_content"/>
	<hpfb:element name="unknown_country_details" type="char_0_100_content"/>
	<hpfb:element name="country_origin" type="country_origin_content"/>

	<!-- Formulation Information-->
	<hpfb:element name="formulation_group" type="formulations_content"/>
	<hpfb:element name="formulation_name" type="char_0_100_content"/>
	<hpfb:element name="formulation_id" type="char_0_100_content"/>
	<hpfb:element name="formulation_details" type="formulation_content"/>
	<hpfb:element name="roa_group" type="roa_content"/>
	<hpfb:element name="roa_details" type="roa_details_content"/>
	<hpfb:element name="roa" type="dosage_form_list"/>
	<hpfb:element name="roa_other" type="char_0_40_content"/>

	<hpfb:element name="country_group" type="country_group_content"/>
	<hpfb:element name="country_manufacturer" type="country_list"/>
	<hpfb:element name="container_group" type="container_group_content"/>
	<hpfb:element name="container_details" type="container_details_content"/>
	<hpfb:element name="container_type" type="char_1_256_content"/>
	<hpfb:element name="package_size" type="char_1_256_content"/>
	<hpfb:element name="shelf_life_years" type="integer_0_9999_content" nillable="true"/>
	<hpfb:element name="shelf_life_months" type="integer_0_99_content" nillable="true"/>
	<hpfb:element name="temperature_min" type="temp_integer_content" nillable="true"/>
	<hpfb:element name="temperature_max" type="temp_integer_content" nillable="true"/>
	<hpfb:element name="active_ingredient" type="active_group_content"/>
	<hpfb:element name="nonmedicinal_ingredient" type="nmi_group_content"/>
	<hpfb:element name="material_ingredient" type="material_group_content"/>
	<hpfb:element name="strength" type="char_1_15_content"/>
	<hpfb:element name="per" type="char_0_40_content"/>
	<hpfb:element name="units" type="char_1_40_content"/>
	<hpfb:element name="is_base_calc" type="required_yes_no_content"/>
	<hpfb:element name="is_nanomaterial" type="nano_list"/>
	<hpfb:element name="nanomaterial_details" type="char_0_40_content"/>
	<hpfb:element name="variant_name" type="char_0_100_content"/>
	<hpfb:element name="in_final_container" type="required_yes_no_content"/>


	<!-- Main references-->
	<hpfb:complexType name="dossier_enrol_content">
		<hpfb:sequence>
			<hpfb:element ref="company_id"/>
			<hpfb:element ref="dossier_id"/>
			<hpfb:element ref="related_dossier_id"/>
			<hpfb:element ref="enrolment_version"/>
			<hpfb:element ref="date_saved"/>
			<hpfb:element ref="application_type"/>
			<hpfb:element ref="software_version"/>
			<hpfb:element ref="data_checksum"/>
			<hpfb:element ref="contact_record" minOccurs="1" maxOccurs="2"/>
			<hpfb:element ref="brand_name" />
			<hpfb:element ref="common_name"/>
			<hpfb:element ref="third_party_signed"/>
			<hpfb:element ref="ref_product_list"/>
			<hpfb:element ref="human_drug_use"/>
			<hpfb:element ref="radiopharm_drug_use"/>
			<hpfb:element ref="vet_drug_use"/>
			<hpfb:element ref="disinfectant_drug_use"/>
			<hpfb:element ref="therapeutic_class_list"/>
			<hpfb:element ref="is_sched_a"/>
			<hpfb:element ref="schedule_a_group" minOccurs="0" maxOccurs="1"/>
			<hpfb:element ref="appendix4_group" minOccurs="0" maxOccurs="unbounded"/>
			<hpfb:element ref="formulation_group"/>
		</hpfb:sequence>
	</hpfb:complexType>

	<hpfb:complexType name="contact_record_content">
		<hpfb:sequence>
			<hpfb:element ref="amend_record"/>
			<hpfb:element ref="rep_contact_role"/>
			<hpfb:element ref="rep_contact_details"/>
		</hpfb:sequence>
	</hpfb:complexType>
	<hpfb:complexType name="therapeutic_class_content">
		<hpfb:sequence>
			<hpfb:element ref="therapeutic_class" minOccurs="1" maxOccurs="unbounded"/>
		</hpfb:sequence>
	</hpfb:complexType>

	<hpfb:complexType name="cdn_ref_product_content">
		<hpfb:sequence>
			<hpfb:element ref="brand_name" />
			<hpfb:element ref="medicinal_ingredient"/>
			<hpfb:element ref="dosage_form"/>
			<hpfb:element ref="dosage_form_other"/>
			<hpfb:element ref="strengths"/>
			<hpfb:element ref="company_name"/>
		</hpfb:sequence>
	</hpfb:complexType>


	<hpfb:complexType name="ref_product_list_content">
		<hpfb:sequence>
			<hpfb:element ref="amend_record"/>
			<hpfb:element ref="cdn_ref_product" minOccurs="0" maxOccurs="unbounded"/>
		</hpfb:sequence>
	</hpfb:complexType>

	<hpfb:complexType name="schedule_a_content">
		<hpfb:sequence>
			<hpfb:element ref="din_number"/>
			<hpfb:element ref="acute_alcohol"/>
			<hpfb:element ref="acute_anxiety"/>
			<hpfb:element ref="acute_infectious"/>
			<hpfb:element ref="acute_inflammatory"/>
			<hpfb:element ref="acute_psychotic"/>
			<hpfb:element ref="addiction"/>
			<hpfb:element ref="ateriosclerosis"/>
			<hpfb:element ref="appendicitis"/>
			<hpfb:element ref="asthma"/>
			<hpfb:element ref="cancer"/>
			<hpfb:element ref="congest_heart_fail"/>
			<hpfb:element ref="convulsions"/>
			<hpfb:element ref="dementia"/>
			<hpfb:element ref="depression"/>
			<hpfb:element ref="diabetes"/>
			<hpfb:element ref="gangrene"/>
			<hpfb:element ref="glaucoma"/>
			<hpfb:element ref="haematologic_bleeding"/>
			<hpfb:element ref="hepatitis"/>
			<hpfb:element ref="hypertension"/>
			<hpfb:element ref="nausea_pregnancy"/>
			<hpfb:element ref="obesity"/>
			<hpfb:element ref="rheumatic_fever"/>
			<hpfb:element ref="septicemia"/>
			<hpfb:element ref="sex_transmit_disease"/>
			<hpfb:element ref="strangulated_hernia"/>
			<hpfb:element ref="thrombotic_embolic_disorder"/>
			<hpfb:element ref="thyroid_disease"/>
			<hpfb:element ref="ulcer_gastro"/>
			<hpfb:element ref="sched_a_claims_ind_details"/>
		</hpfb:sequence>
	</hpfb:complexType>

	<hpfb:complexType name="country_group_content">
		<hpfb:sequence>
			<hpfb:element ref="country_manufacturer" minOccurs="1" maxOccurs="unbounded"/>
		</hpfb:sequence>
	</hpfb:complexType>

	<hpfb:complexType name="appendix4_content">
		<hpfb:sequence>
			<hpfb:element ref="ingredient_id" />
			<hpfb:element ref="ingredient_name"/>
			<hpfb:element ref="animal_sourced"/>
			<hpfb:element ref="human_sourced"/>
			<hpfb:element ref="tissues_fluids_section" minOccurs="0" maxOccurs="1"/>
			<hpfb:element ref="animal_sourced_section" minOccurs="0" maxOccurs="1"/>
		</hpfb:sequence>
	</hpfb:complexType>


	<hpfb:complexType name="tissues_fluid_content">
		<hpfb:sequence>
			<hpfb:element ref="brain"/>
			<hpfb:element ref="brain_stem"/>
			<hpfb:element ref="cerebellum"/>
			<hpfb:element ref="cerebrospinal_fluid"/>
			<hpfb:element ref="dorsal_root_ganglia"/>
			<hpfb:element ref="dura_mater"/>
			<hpfb:element ref="hypothalmus"/>
			<hpfb:element ref="retina_optic"/>
			<hpfb:element ref="spinal_cord"/>
			<hpfb:element ref="trigerminal_ganglia"/>
			<hpfb:element ref="other_nervous"/>
			<hpfb:element ref="other_nervous_details"/>
			<!-- Start digestive system-->
			<hpfb:element ref="appendix"/>
			<hpfb:element ref="bile"/>
			<hpfb:element ref="distal_ileum"/>
			<hpfb:element ref="large_intestine"/>
			<hpfb:element ref="saliva_salivary"/>
			<hpfb:element ref="small_intestine"/>
			<hpfb:element ref="stomach"/>
			<hpfb:element ref="other_digestive"/>
			<hpfb:element ref="other_digestive_details"/>
			<!-- Start reproductive system-->
			<hpfb:element ref="milk_products"/>
			<hpfb:element ref="kidney"/>
			<hpfb:element ref="colostrum"/>
			<hpfb:element ref="mammary_glands"/>
			<hpfb:element ref="ovaries"/>
			<hpfb:element ref="placenta"/>
			<hpfb:element ref="placental_fluid"/>
			<hpfb:element ref="semen"/>
			<hpfb:element ref="testes"/>
			<hpfb:element ref="urine"/>
			<hpfb:element ref="other_reproductive"/>
			<hpfb:element ref="other_reproductive_details"/>
			<!-- Start cardio respiratory system-->
			<hpfb:element ref="heart_pericardium"/>
			<hpfb:element ref="lung"/>
			<hpfb:element ref="nasal_fluid"/>
			<hpfb:element ref="trachea"/>
			<hpfb:element ref="other_cardio_respiratory"/>
			<hpfb:element ref="other_cardio_respiratory_details"/>
			<!-- Start immune system-->
			<hpfb:element ref="lymph_nodes"/>
			<hpfb:element ref="spleen"/>
			<hpfb:element ref="thymus"/>
			<hpfb:element ref="tonsils"/>
			<hpfb:element ref="other_immune"/>
			<hpfb:element ref="other_immune_details"/>
			<!-- Start skin glandular system-->
			<hpfb:element ref="adrenal_gland"/>
			<hpfb:element ref="hair_hooves_feathers"/>
			<hpfb:element ref="liver"/>
			<hpfb:element ref="pancreas"/>
			<hpfb:element ref="pituitary"/>
			<hpfb:element ref="skin_hides"/>
			<hpfb:element ref="thyroid_parathyroid"/>
			<hpfb:element ref="other_skin_glandular"/>
			<hpfb:element ref="other_skin_glandular_details"/>
			<!-- Start musculo-Skeletal system-->
			<hpfb:element ref="abdomen"/>
			<hpfb:element ref="skull"/>
			<hpfb:element ref="bones"/>
			<hpfb:element ref="collagen"/>
			<hpfb:element ref="tendons_ligaments"/>
			<hpfb:element ref="vertebral_column"/>
			<hpfb:element ref="muscle"/>
			<hpfb:element ref="other_musculo_skeletal"/>
			<hpfb:element ref="other_musculo_skeletal_details"/>
			<!-- Start other system-->
			<hpfb:element ref="adipose"/>
			<hpfb:element ref="ascites"/>
			<hpfb:element ref="antler_velvet"/>
			<hpfb:element ref="serum"/>
			<hpfb:element ref="whole_blood"/>
			<hpfb:element ref="plasma"/>
			<hpfb:element ref="embryonic_tissue"/>
			<hpfb:element ref="fetal_tissue"/>
			<hpfb:element ref="bone_marrow"/>
			<hpfb:element ref="eyes_cornea"/>
			<hpfb:element ref="gall_bladder"/>
			<hpfb:element ref="other_fluids_tissues"/>
			<hpfb:element ref="other_fluids_tissues_details"/>
		</hpfb:sequence>
	</hpfb:complexType>


	<hpfb:complexType name="animal_sourced_content">
		<hpfb:sequence>
			<hpfb:element ref="nonhuman_primate_type"/>
			<hpfb:element ref="aquatic_type"/>
			<hpfb:element ref="avian_type"/>
			<hpfb:element ref="bovine_type"/>
			<hpfb:element ref="canine_type"/>
			<hpfb:element ref="caprine_type"/>
			<hpfb:element ref="cervidae_type"/>
			<hpfb:element ref="equine_type"/>
			<hpfb:element ref="feline_type"/>
			<hpfb:element ref="ovine_type"/>
			<hpfb:element ref="porcine_type"/>
			<hpfb:element ref="rodent_type"/>
			<hpfb:element ref="other_type"/>
			<hpfb:element ref="is_controlled_pop"/>
			<hpfb:element ref="is_biotech_derived"/>
			<hpfb:element ref="is_cell_line"/>
			<hpfb:element ref="animal_age"/>
			<hpfb:element ref="country_origin_list"/>
		</hpfb:sequence>
	</hpfb:complexType>

	<hpfb:complexType name="country_origin_content">
		<hpfb:sequence>
			<hpfb:element ref="country_with_unknown"/>
			<hpfb:element ref="unknown_country_details"/>
		</hpfb:sequence>
	</hpfb:complexType>

	<hpfb:complexType name="country_origin_list_content">
		<hpfb:sequence>
			<hpfb:element ref="country_origin" minOccurs="1" maxOccurs="unbounded"/>
		</hpfb:sequence>
	</hpfb:complexType>


	<hpfb:complexType name="formulations_content">
		<hpfb:sequence>
			<hpfb:element ref="formulation_details" minOccurs="1" maxOccurs="unbounded"/>
		</hpfb:sequence>
	</hpfb:complexType>

	<hpfb:complexType name="formulation_content">
		<hpfb:sequence>
			<hpfb:element ref="formulation_name"/>
			<hpfb:element ref="formulation_id"/>
			<hpfb:element ref="dosage_form_group"/>
			<hpfb:element ref="roa_group"/>
			<hpfb:element ref="container_group"/>
			<hpfb:element ref="country_group"/>
			<hpfb:element ref="active_ingredient" minOccurs="1" maxOccurs="unbounded"/>
			<hpfb:element ref="nonmedicinal_ingredient" minOccurs="0" maxOccurs="unbounded"/>
			<hpfb:element ref="material_ingredient" minOccurs="0" maxOccurs="unbounded"/>
		</hpfb:sequence>
	</hpfb:complexType>

	<hpfb:complexType name="dosage_form_group_content">
		<hpfb:sequence>
			<hpfb:element ref="dosage_form"/>
			<hpfb:element ref="dosage_form_other"/>
		</hpfb:sequence>
	</hpfb:complexType>

	<hpfb:complexType name="roa_content">
		<hpfb:sequence>
			<hpfb:element ref="roa_details" minOccurs="1" maxOccurs="unbounded"/>
		</hpfb:sequence>
	</hpfb:complexType>

	<hpfb:complexType name="roa_details_content">
		<hpfb:sequence>
			<hpfb:element ref="roa"/>
			<hpfb:element ref="roa_other"/>
		</hpfb:sequence>
	</hpfb:complexType>


	<hpfb:complexType name="container_group_content">
		<hpfb:sequence>
			<hpfb:element ref="container_details" minOccurs="1" maxOccurs="unbounded"/>
		</hpfb:sequence>
	</hpfb:complexType>

	<hpfb:complexType name="container_details_content">
		<hpfb:all>
			<hpfb:element ref="container_type"/>
			<hpfb:element ref="package_size"/>
			<hpfb:element ref="shelf_life_years"/>
			<hpfb:element ref="shelf_life_months"/>
			<hpfb:element ref="temperature_min"/>
			<hpfb:element ref="temperature_max"/>
		</hpfb:all>
	</hpfb:complexType>
	<hpfb:complexType name="active_group_content">
		<hpfb:all>
			<hpfb:element ref="ingredient_id"/>
			<hpfb:element ref="ingredient_name"/>
			<hpfb:element ref="cas_number"/>
			<hpfb:element ref="ingred_standard"/>
			<hpfb:element ref="is_human_animal_src"/>
			<hpfb:element ref="strength"/>
			<hpfb:element ref="per"/>
			<hpfb:element ref="units"/>
			<hpfb:element ref="is_base_calc"/>
			<hpfb:element ref="is_nanomaterial"/>
			<hpfb:element ref="nanomaterial_details"/>
		</hpfb:all>
	</hpfb:complexType>
	<hpfb:complexType name="nmi_group_content">
		<hpfb:all>
			<hpfb:element ref="ingredient_id"/>
			<hpfb:element ref="ingredient_name"/>
			<hpfb:element ref="cas_number"/>
			<hpfb:element ref="ingred_standard"/>
			<hpfb:element ref="is_human_animal_src"/>
			<hpfb:element ref="variant_name"/>
			<hpfb:element ref="strength"/>
			<hpfb:element ref="per"/>
			<hpfb:element ref="units"/>
			<hpfb:element ref="is_base_calc"/>
			<hpfb:element ref="is_nanomaterial"/>
			<hpfb:element ref="nanomaterial_details"/>
		</hpfb:all>
	</hpfb:complexType>
	<hpfb:complexType name="material_group_content">
		<hpfb:all>
			<hpfb:element ref="ingredient_id"/>
			<hpfb:element ref="ingredient_name"/>
			<hpfb:element ref="cas_number"/>
			<hpfb:element ref="ingred_standard"/>
			<hpfb:element ref="in_final_container"/>
		</hpfb:all>
	</hpfb:complexType>
</hpfb:schema>