xml_schema/v_2_2/transaction_enrol.xsd

<?xml version="1.0"?>
<!-- ****************************** -->
<!-- Company Enrolment version 0.1 -->
<!-- ****************************** -->
<hpfb:schema xmlns:hpfb="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<hpfb:include schemaLocation="common/data_types.xsd"/>
	<hpfb:include schemaLocation="common/contact.xsd"/>
	<hpfb:include schemaLocation="common/address.xsd"/>
	<hpfb:include schemaLocation="common/sequence_descriptions.xsd"/>
	<!-- ****************************** -->
	<!-- ELEMENT DECLARATIONS -->
	<!-- ****************************** -->
	<!-- COMPANY_ENROL is the root element-->
	<hpfb:element name="TRANSACTION_ENROL" type="transaction_enrol_content"/>
	<hpfb:element name="template_type" type="hpfb:string"/>
	<hpfb:element name="date_saved" type="yyyymmdd_date_content"/>
	<hpfb:element name="software_version" type="hpfb:string"/>
	<hpfb:element name="data_checksum" type="hpfb:string"/>
	<hpfb:element name="transaction_type" type="hpfb:string"/>
	<hpfb:element name="is_third_party" type="yes_no_content"/>
	<hpfb:element name="is_priority" type="yes_no_content"/>
	<hpfb:element name="is_noc" type="yes_no_content"/>
	<hpfb:element name="is_admin_sub" type="yes_no_content"/>
	<hpfb:element name="sub_type" type="sub_type_content"/>
	<!--<hpfb:element name="is_ectd" type="required_yes_no_content"/>-->
	<hpfb:element name="ectd" type="ectd_content"/>
	<hpfb:element name="company_id" type="char_0_6_content"/>
	<hpfb:element name="dossier_id" type="char_0_20_content"/>
	<hpfb:element name="dossier_type">
		<hpfb:complexType>
			<hpfb:simpleContent>
				<hpfb:extension base="hpfb:string">
					<hpfb:attribute name="id" type="hpfb:string"/>
				</hpfb:extension>
			</hpfb:simpleContent>
		</hpfb:complexType>
	</hpfb:element>
	<hpfb:element name="product_name" type="char_0_256_content"/>
	<!--<hpfb:element name="sequence_number" type="sequence_content"/>-->
	<!--<hpfb:element name="date_filed" type="yyyymmdd_date_content"/>-->
	<hpfb:element name="control_number" type="control_number_content" nillable="true"/>
	<hpfb:element name="regulatory_activity_lead">
		<hpfb:complexType>
			<hpfb:simpleContent>
				<hpfb:extension base="hpfb:string">
					<hpfb:attribute name="id" type="hpfb:string"/>
				</hpfb:extension>
			</hpfb:simpleContent>
		</hpfb:complexType>
	</hpfb:element>
	<hpfb:element name="regulatory_activity_type">
		<hpfb:complexType>
			<hpfb:simpleContent>
				<hpfb:extension base="hpfb:string">
					<hpfb:attribute name="id" type="hpfb:string"/>
					<hpfb:attribute name="label_en" type="hpfb:string"/>
					<hpfb:attribute name="label_fr" type="hpfb:string"/>
				</hpfb:extension>
			</hpfb:simpleContent>
		</hpfb:complexType>
	</hpfb:element>
	<hpfb:element name="sequence_description_value" type="sequence_description_list"/>
	<hpfb:element name="sequence_from_date" type="optional_yyyymmdd_date_content"/>
	<hpfb:element name="sequence_to_date" type="optional_yyyymmdd_date_content"/>
	<hpfb:element name="sequence_version" type="number_0_5_content"/>
	<hpfb:element name="sequence_details" type="char_0_50_content"/>
	<hpfb:element name="transaction_description" type="hpfb:string"/>
	<hpfb:element name="sequence_year" type="char_0_6_content"/>

	<hpfb:element name="lifecycle_record" type="lifecycle_record_content"/>
	<hpfb:element name="is_solicited" type="required_yes_no_content"/>
    <hpfb:element name="solicited_requester_sequence" type="sequence_content"/>
    <hpfb:element name="requester_of_solicited_information" type="char_0_256_content"/>
	<hpfb:element name="solicited_requester_record" type="solicited_requester_record_content"/>
	<hpfb:element name="regulatory_project_manager1" type="char_0_256_content"/>
	<hpfb:element name="regulatory_project_manager2" type="char_0_256_content"/>
	<hpfb:element name="is_fees" type="required_yes_no_content"/>
	<hpfb:element name="fee_details" type="fee_details_content"/>
	
	<hpfb:element name="is_activity_changes" type="char_0_256_content"/>
	<!--<hpfb:element name="same_regulatory_company" type="required_yes_no_content"/>-->
	<hpfb:element name="company_name" type="char_0_80_content"/>
	<!--<hpfb:element name="same_regulatory_address" type="required_yes_no_content"/>-->
	<hpfb:element name="regulatory_activity_address" type="international_address_content"/>
	<hpfb:element name="confirm_regulatory_contact" type="required_yes_no_content"/>
	<hpfb:element name="regulatory_activity_contact" type="contact_content"/>
	<hpfb:element name="rep_submission_contact_role" type="rep_contact_role_list"/>
	<hpfb:element name="rep_submission_contact" type="contact_content"/>
	<hpfb:element name="rep_submission_contact_record" type="rep_submission_contact_record_content"/>

	<hpfb:element name="id" type="char_0_80_content"/>
	<hpfb:element name="en" type="char_0_256_content"/>
	<hpfb:element name="fr" type="char_0_256_content"/>
	<hpfb:element name="description_en" type="char_0_256_content"/>
	<hpfb:element name="description_fr" type="char_0_256_content"/>
	<hpfb:element name="fee" type="hpfb:decimal" />

	<hpfb:element name="deferral_statement" type="required_yes_no_content"/>
	<hpfb:element name="remission_certified" type="required_yes_no_content"/>
	<hpfb:element name="sales_history" type="required_yes_no_content"/>
	<hpfb:element name="avg_sale_price" type="required_yes_no_content"/>
	<hpfb:element name="est_market_share" type="required_yes_no_content"/>
	<hpfb:element name="comparison_products" type="required_yes_no_content"/>
	<hpfb:element name="market_plan" type="required_yes_no_content"/>
	<hpfb:element name="other" type="required_yes_no_content"/>
	<hpfb:element name="other_details" type="char_0_100_content"/>
	<hpfb:element name="credit_card" type="required_yes_no_content"/>
	<hpfb:element name="cheque" type="required_yes_no_content"/>
	<hpfb:element name="money_order" type="required_yes_no_content"/>
	<hpfb:element name="bank_draft" type="required_yes_no_content"/>
	<hpfb:element name="existing_credit" type="required_yes_no_content"/>
	<hpfb:element name="bank_wire" type="required_yes_no_content"/>
	<hpfb:element name="bill_payment" type="required_yes_no_content"/>
	<hpfb:element name="deferral_request" type="required_yes_no_content"/>
	<hpfb:element name="fee_remission" type="yes_no_content"/>
	<hpfb:element name="gross_revenue" type="hpfb:decimal" />
	<hpfb:element name="percent_gross" type="hpfb:decimal"/>
	<hpfb:element name="submission_class" type="submission_class_content"/>
	<hpfb:element name="required_docs" type="required_docs_content"/>
	<hpfb:element name="payment_method" type="payment_method_content"/>	

	<hpfb:complexType name="transaction_enrol_content">
		<hpfb:sequence>
			<hpfb:element ref="template_type"/>
			<hpfb:element ref="date_saved"/>
			<hpfb:element ref="software_version"/>
			<hpfb:element ref="data_checksum"/>
			<hpfb:element ref="transaction_type"/>
			<hpfb:element ref="is_third_party"/>
			<hpfb:element ref="is_priority"/>
			<hpfb:element ref="is_noc"/>
			<hpfb:element ref="is_admin_sub"/>
			<hpfb:element ref="sub_type" minOccurs="0" maxOccurs="1"/>
			<!--<hpfb:element ref="is_ectd"/> -->
			<hpfb:element ref="ectd"/>
			<hpfb:element ref="is_solicited"/>
			<hpfb:element ref="solicited_requester_record" minOccurs="0" maxOccurs="unbounded"/>
			<hpfb:element ref="regulatory_project_manager1"/>
			<hpfb:element ref="regulatory_project_manager2"/>
			<hpfb:element ref="is_fees"/>
			<hpfb:element ref="fee_details" minOccurs="0" maxOccurs="1"/>
			<hpfb:element ref="is_activity_changes"/>
			<!--<hpfb:element ref="same_regulatory_company"/>-->
			<hpfb:element ref="company_name"/>
			<!--<hpfb:element ref="same_regulatory_address"/>-->
			<hpfb:element ref="regulatory_activity_address"/>
			<hpfb:element ref="regulatory_activity_contact"/>
			<hpfb:element ref="confirm_regulatory_contact"/>
			
		</hpfb:sequence>
	</hpfb:complexType>

	<hpfb:complexType name="sub_type_content">
		<hpfb:sequence>
			<hpfb:element ref="id" minOccurs="0" maxOccurs="1"/>
			<hpfb:element ref="en" minOccurs="0" maxOccurs="1"/>
			<hpfb:element ref="fr" minOccurs="0" maxOccurs="1"/>
		</hpfb:sequence>
	</hpfb:complexType>

	<hpfb:complexType name="ectd_content">
		<hpfb:sequence>
			<hpfb:element ref="company_id"/>
			<hpfb:element ref="dossier_id"/>
			<hpfb:element ref="dossier_type"/>
			<hpfb:element ref="product_name"/>
			<hpfb:element ref="lifecycle_record" minOccurs="1" maxOccurs="1"/>
		</hpfb:sequence>
	</hpfb:complexType>

	<hpfb:complexType name="lifecycle_record_content">
		<hpfb:sequence>
			<!--<hpfb:element ref="sequence_number"/>
			<hpfb:element ref="date_filed"/> -->
			<hpfb:element ref="control_number"/>
			<hpfb:element ref="regulatory_activity_lead"/>
			<hpfb:element ref="regulatory_activity_type"/>
			<hpfb:element ref="sequence_description_value"/>
			<hpfb:element ref="sequence_from_date"/>
			<hpfb:element ref="sequence_to_date"/>
			<hpfb:element ref="sequence_details"/>
			<hpfb:element ref="sequence_version"/>
			<hpfb:element ref="sequence_year"/>
			<hpfb:element ref="transaction_description"/>
		</hpfb:sequence>
	</hpfb:complexType>

	<hpfb:complexType name="solicited_requester_record_content">
		<hpfb:sequence>
			<hpfb:element ref="solicited_requester_sequence"/>
			<hpfb:element ref="requester_of_solicited_information"/>
		</hpfb:sequence>
	</hpfb:complexType>

	<hpfb:complexType name="rep_submission_contact_record_content">
		<hpfb:sequence>
			<hpfb:element ref="rep_submission_contact_role"/>
			<hpfb:element ref="rep_submission_contact"/>
		</hpfb:sequence>
	</hpfb:complexType>
	<hpfb:complexType name="fee_details_content">
		<hpfb:sequence>
			<hpfb:element ref="submission_class"/>
			<hpfb:element ref="deferral_request"/>
			<hpfb:element ref="fee_remission"/>
			<hpfb:element ref="gross_revenue"/>
			<hpfb:element ref="percent_gross"/>
			<hpfb:element ref="required_docs"/>
			<hpfb:element ref="payment_method"/>
			
		</hpfb:sequence>
	</hpfb:complexType>

	<hpfb:complexType name="submission_class_content">
		<hpfb:sequence>
			<hpfb:element ref="id"/>
			<hpfb:element ref="en"/>
			<hpfb:element ref="fr"/>
			<hpfb:element ref="description_en"/>
			<hpfb:element ref="description_fr"/>
			<hpfb:element ref="fee"/>
		</hpfb:sequence>
	</hpfb:complexType>

	<hpfb:complexType name="required_docs_content">
		<hpfb:sequence>
			<hpfb:element ref="deferral_statement"/>
			<hpfb:element ref="remission_certified"/>
			<hpfb:element ref="sales_history"/>
			<hpfb:element ref="avg_sale_price"/>
			<hpfb:element ref="est_market_share"/>
			<hpfb:element ref="comparison_products"/>
			<hpfb:element ref="market_plan"/>
			<hpfb:element ref="other"/>
			<hpfb:element ref="other_details"/>
		</hpfb:sequence>
	</hpfb:complexType>

	<hpfb:complexType name="payment_method_content">
		<hpfb:sequence>
			<hpfb:element ref="credit_card"/>
			<hpfb:element ref="cheque"/>
			<hpfb:element ref="money_order"/>
			<hpfb:element ref="bank_draft"/>
			<hpfb:element ref="existing_credit"/>
			<hpfb:element ref="bank_wire"/>
			<hpfb:element ref="bill_payment"/>
		</hpfb:sequence>
	</hpfb:complexType>

</hpfb:schema>